.headline{
  font-weight: 300;
  font-size: rem(30);
  color: $mainBlue;
  @include media($screen-sm){
    font-size: rem(46);
  }
  &--centered{
    text-align: center;
  }
  &--orange{
    color: $mainOrange;
  }
  &--small{
    font-size: rem(20);
    @include media($screen-sm){
      font-size: rem(30);
    } 
  }
  &--narrow{
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }
  &--light{
    font-weight: 100;
  }
  &--b-margin-small{
    margin-bottom: .5em;
  }
  &--b-margin-large{
    margin-bottom: 1.6em;
  }
}