.row {
  @include clearfix;
  margin-right: -65px;
  &--gutters>div {
    padding-right: 65px;
  }
  @include media($screen-md) {
    &__medium-4 {
      width: 33.33%;
      float: left;
    }
    &__medium-8 {
      width: 66.67%;
      float: left;
    }
  }
}